package main

import (
	"fmt"

	"github.com/jdkaplan/advent-of-code/aoc"
)

func main() {
	lines := aoc.Input().ReadLines("day{{ .N }}.txt")
	fmt.Println(part1(lines))
}

func part1(lines []string) int {
	return 0
}
